.RedText {
	
	color: red;
	
}

.OrangeText {
	
	color: orange;
	
}

.YellowText {
	
	color: yellow;
	
}

.GreenText {
	
	color: green;
	
}

.BlueText {
	
	color: blue;
	
}

.purple {
	
	color: rgb(255, 0, 255);
	
}
