.contents {
		
	border: 3px solid black;
		
}

body {
	
	color: white;	
	
}

.RedText {
	
	color: red;
	
}

.OrangeText {
	
	color: orange;
	
}

.YellowText {
	
	color: yellow;
	
}

.GreenText {
	
	color: green;
	
}

.BlueText {
	
	color: blue;
	
}

.purple {
	
	color: rgb(255, 0, 255);
	
}


#Jump {
	
	position: relative;
	left: 5px;
	text-decoration: underline;
	
}

#ToTop {
	
	position: fixed;
	top: 780px;
	left: 1250px;
	
}

#linktoa {
	
	font-size:2em;
	
}
